.env
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
# .NET
project.lock.json
project.fragment.lock.json
artifacts/
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
*.binlog
# NVidia Nsight GPU debugger configuration file
*.nvuser
# MFractors (Xamarin productivity tool) working folder
.mfractor/
# Local History for Visual Studio
.localhistory/
# Visual Studio History (VSHistory) files
.vshistory/
# BeatPulse healthcheck temp database
healthchecksdb
# Local History for Visual Studio Code
.history/
node_modules/
